html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*,
*:after,
*::before {
    box-sizing: inherit;
}

.forma {
    width: 773px;
    height: 437px;
    background: #EFEFEF;
    border-radius: 5px;
    margin: 100px auto 0 auto;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.name {
    width: 347px;
    height: 79px;
    margin: 30px 0 0 30px;
}

.name__user {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.name__input {
    margin-top: 10px;
    width: 347px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;

}

.surname {
    width: 347px;
    height: 79px;
    margin: 30px 29px 0 20px;
}

.surname__user {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.surname__input {
    margin-top: 10px;
    width: 347px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
}

.message {
    margin: 30px 29px 0 30px;
    width: 714px;
    height: 79px;
}

.message__user {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.message__input {
    margin-top: 10px;
    width: 714px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
}


.question {
    margin: 30px 29px 0 30px;
}

.question__user {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

}

.question__select {
    margin-top: 10px;
    width: 714px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
}

.question select {
    padding-left: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}

.btn {
    margin: 30px auto 0 auto;
}

.btn__submit {
    width: 130px;
    height: 50px;
    background: #EE811C;
    border-radius: 5px;
    border: none;
}

.btn__text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

input {
    padding: 0 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
}